.main-theme{
    /* background-image: url("../../../public/assets/img/our_team.jpg"); */
    background-image: linear-gradient(to right, #2d2d54, #262644);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headroom--pinned {
    display: block;
    background-color: aqua;
}


